$black: #000;
$blue: #27a9e3;
$white: #fff;

// Transitioning Gradient Colors
$sky1: #82addb;
$sky2: #ebb2b1;
$sky3: #94c5f8;
$sky4: #67d1fb;
$sky5: #576e71;
$sky6: #b26339;
$sky7: #150800;

// Lego Block Colors That Match Sky4
$block1: #fc8098;
$block2: #f38630;
$block3: #a7dbd8;
$block4: #fa6900;
$block5: #e0e4cc;

// Font Sizing
$scale-small: .25;
$scale-large: 1.5;
$section-padding: 1em;

h1 { font-size: calc(4.236em * #{$scale-small}); }
h2 { font-size: calc(4.236em * #{$scale-small}); }
h3 { font-size: calc(4.236em * #{$scale-small}); }
p { font-size: calc(4.236em * #{$scale-small}); }

@media (min-width: 720px) {
  h1 { font-size: calc(4.236em * #{$scale-large}); }
  h2 { font-size: calc(2.618em * #{$scale-large}); }
  h3 { font-size: calc(1.618em * #{$scale-large}); }
  p { font-size: calc(1em * #{$scale-large}); }
}

.body {
  color: $white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $section-padding 0;
  text-align: center;
  width: 100%;
}

.transition {
  height: 10vh;
  width: 100%;

  @media (min-width: 720px) {
    height: 25vh;
  }

  &:nth-of-type(1) {
    background: linear-gradient(to bottom, $sky2 0%, $sky3 100%);
  }

  &:nth-of-type(2) {
    background: linear-gradient(to bottom, $sky3 0%, $sky4 100%);
  }

  &:nth-of-type(3) {
    background: linear-gradient(to bottom, $sky4 0%, $sky5 100%);
  }

  &:nth-of-type(4) {
    background: linear-gradient(to bottom, $sky5 0%, $sky6 100%);
  }

  &:nth-of-type(5) {
    background: linear-gradient(to bottom, $sky6 0%, $sky7 100%);
  }

  &:nth-of-type(6) {
    background-color: $sky7;
  }
}

.intro {
  background: linear-gradient(to bottom, $sky1 0%, $sky2 100%);
  height: calc(85vh - #{$section-padding});

  @media (min-height: 480px) {
    height: 90vh;
  }

  .intro__logo {
    max-height: 50vh;
    max-width: 100%;
    width: 50vh;

    @media (min-height: 480px) {
      margin-bottom: 3em;
      width: 50vh;
    }
  }
}

.about {
  background-color: $sky3;
  padding: $section-padding 1em;
  width: calc(100vw - 2em);

  @media (min-width: 720px) {
    padding: $section-padding 5em;
    width: calc(100vw - 10em);
  }
}

.skills {
  background-color: $sky4;

  .skills__list {
    color: $black;
    list-style: none;
    padding: 0 5vw;
    text-align: center;
    width: 90vw;

    .skills__list__item {
      border-top: 6px dashed $sky4;
      display: inline-block;
      margin: 8px 4px;
      padding: 1em;

      &:nth-child(1n) {
        background-color: $block1;
      }

      &:nth-child(2n) {
        background-color: $block2;
      }

      &:nth-child(3n) {
        background-color: $block3;
      }

      &:nth-child(4n) {
        background-color: $block4;
      }

      &:nth-child(5n) {
        background-color: $block5;
      }
    }
  }
}

.projects {
  background-color: $sky5;
  color: $white;
}

.experience {
  background-color: $sky6;
  color: $white;
}

.contact {
  background-color: $sky7;
  color: $white;
}

.sky {
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  .sky__skyline {
    bottom: 0;
    left: 0;
    min-width: 900px;
    position: fixed;
    width: 100%;
  }

  .sky__airplane {
    left: 100%;
    position: absolute;
    top: 50%;
    width: 25%;
  }

  .sky__fighter {
    position: absolute;
    right: 100%;
    top: 10%;
    width: 15%;
  }

  .sky__man {
    left: 100%;
    position: absolute;
    top: 80%;
    width: 10%;
  }

  .sky__bike {
    position: absolute;
    right: 100%;
    top: 30%;
    width: 5%;
  }

  .sky__glider {
    position: absolute;
    right: 100%;
    top: 60%;
    width: 15%;
  }

  .sky__balloon {
    left: 100%;
    position: absolute;
    top: 50%;
    width: 15%;
  }
}
