$black: #000;
$grey: #222;
$blue: #27a9e3;
$white: #fff;

// Transitioning Gradient Colors
$sky0: #9be2fe;
$sky1: #86bee5;
$sky2: #3ea0d2;
$sky3: #150800;

// Lego Block Colors That Match Sky4
$block1: #fc8098;
$block2: #f38630;
$block3: #a7dbd8;
$block4: #fa6900;
$block5: #e0e4cc;

// Font Sizing
$scale-small: 1;
$scale-large: 1;
$section-padding: 0 2em;

h1 { font-size: calc(1.953rem * #{$scale-small}); }
h2 { font-size: calc(1.563rem * #{$scale-small}); }
h3 { font-size: calc(1.25rem * #{$scale-small}); }
p,
.body { font-size: calc(1rem * #{$scale-small}); }

.caption,
.skill { font-size: calc(.875rem * #{$scale-small}); }

@media (min-width: 720px) {
  h1 { font-size: calc(4.236rem * #{$scale-large}); }
  h2 { font-size: calc(2.618rem * #{$scale-large}); }
  h3 { font-size: calc(1.618rem * #{$scale-large}); }
  p,
  .body { font-size: calc(1rem * #{$scale-large}); }

  .caption,
  .skill { font-size: calc(.875rem * #{$scale-small}); }
}

html,
.body {
  height: 100%;
  overflow-x: hidden;
}

.body {
  color: $grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $section-padding 0;
  text-align: center;
  width: calc(100% - 4em);

  &:nth-of-type(1) {
    background: linear-gradient(to bottom, $sky0 0%, $sky1 100%);
  }

  &:nth-of-type(2) {
    background-color: $sky1;
  }

  &:nth-of-type(3) {
    background: linear-gradient(to bottom, $sky1 0%, $sky2 50%, $black 100%);
  }
}

.transition {
  height: 25vh;
  width: 100%;

  @media (min-width: 720px) {
    height: 25vh;
  }
}

.intro {
  min-height: 100vh;

  .intro__sun {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    max-height: 90vh;
    max-width: 90vw;
    position: relative;
    width: 50vh;
  }

  .intro__logo {
    animation: rotate 20s infinite linear;
    width: 100%;
    z-index: 0;

    @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
    }
  }

  .intro__title {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    h1 {
      font-size: 3vh;
    }
  }
}

.about {
  padding: $section-padding;
  width: calc(100vw - 4em);

  .about__intro {
    line-height: 1.75rem;
    text-align: left;
  }

  .about__skills {
    list-style: none;
    padding: 0 5vw;
    text-align: center;
  }

  @media (min-width: 720px) {
    display: flex;
    flex-direction: row;
    padding: 0 5em;
    width: calc(100vw - 10em);

    .about__intro {
      width: 50%;
    }

    .about__skills {
      width: 50%;
    }
  }
}

.skill {
  border-top: 6px dashed $sky1;
  display: inline-block;
  margin: 4px;
  padding: .6em 1em;

  @media (min-width: 720px) {
    margin: 8px 4px;
    padding: 1em;
  }

  &:nth-child(1n) {
    background-color: $block1;
  }

  &:nth-child(2n) {
    background-color: $block2;
  }

  &:nth-child(3n) {
    background-color: $block3;
  }

  &:nth-child(4n) {
    background-color: $block4;
  }

  &:nth-child(5n) {
    background-color: $block5;
  }

  &:hover {
    animation: wiggle .25s infinite;
  }

  @keyframes wiggle {
    0% {transform: rotate(3deg);}
    50% {transform: rotate(-3deg);}
    100% {transform: rotate(3deg);}
  }
}

.projects {
  padding-bottom: 25vh;

  .projects__list {
    align-content: flex-end;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 2rem);
  }
}

.project {
  margin: 0 1em 1em;
  padding: 1em;
  perspective: 1000;
  position: relative;
  width: 100%;

  .project__cloud {
    margin: 0 0 0 -5%;
    width: 75%;
  }

  .project__swing {
    animation: swing 1.5s infinite alternate ease-in-out;

    @keyframes swing {
      0% { transform: rotate(-1deg) translateX(3px);}
      100% { transform: rotate(1deg) translateX(-3px);}
    }
  }

  .project__card {
    display: flex;
    flex-wrap: wrap;
    margin: 65px 0 1em;
    pointer-events: none;
    position: relative;
    transform-origin: 25% 50% 0;
    transform-style: preserve-3d;
    transition: transform .5s linear;
    width: 200%;

    &:before {
      border: 2px dotted $black;
      border-bottom: 0;
      border-left: 0;
      border-radius: 0 5px 0 0;
      content: '';
      height: 100px;
      left: calc(25% - 52px);
      outline: none;
      position: absolute;
      top: -52px;
      transform: rotate(-45deg);
      width: 100px;
    }

    &.flipped {
      transform: rotateY(180deg);
    }
  }

  .project__title {
    backface-visibility: hidden;
    font-weight: 300;
    margin: 0;
  }

  .project__p {
    backface-visibility: hidden;
    margin: 1em 0 0;
  }

  .project__front,
  .project__back {
    backface-visibility: hidden;
    background-color: transparent;
    border: solid 1px $black;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    padding: 1em;
    pointer-events: auto;
    text-align: left;
    transform: rotateX(0deg); // This is a Firefox Bug #1201471
  }

  .project__back {
    backface-visibility: hidden;
    transform: rotateY(180deg) translateX(100%);

    .project__p {
      margin: 0;
    }
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) .project__swing {
      animation-delay: (#{$i*.5s}); 
    }
  }

  @media (min-width: 480px) {
    margin: 1em;
    width: calc(50% - 4em);
  }

  @media (min-width: 815px) {
    margin: 2em;
    width: calc(33.33% - 6em);
  }
}

.project__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;

  .project__icon {
    margin: 1em 0 0 1em;
    text-align: center;
    text-decoration: none;

    .project__icon--svg {
      width: 2em;
    }

    .caption {
      margin: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.contact {
  color: $white;
  min-height: 75vh;
  position: relative;

  a {
    color: $white;
  }

  @keyframes move-twink-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
  }

  .contact__stars,
  .contact__twinkling {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .contact__stars {
    background: $black url('../images/stars.png') repeat top center;
  }

  .contact__twinkling {
    animation: move-twink-back 500s linear infinite;
    background: transparent url('../images/twinkling.png') repeat top center;
  }

  .contact__choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
    width: 100%;

    @media (min-width: 480px) {
      flex-direction: row;
    }
  }

  .contact__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
  }

  .contact__icon {
    height: 2em;
    width: 2em;
  }

  .twitterFeed {
    margin-bottom: 4em;
    text-align: left;

    ul {
      list-style: none;
      padding-left: 0;
    }

    .user {
      display: none;
    }

    .timePosted,
    .interact {
      text-align: right;
    }

    .interact__link {
      margin-left: .5em;
    }
  }

  .contact__copyright {
    bottom: 0;
    position: absolute;
    width: calc(100% - 4em);
  }
}

.footer {
  background-color: $black;

  .footer__skyline {
    bottom: 0;
    display: block;
    left: 0;
    min-width: 900px;
    opacity: 0;
    width: 100%;
  }
}

.sky {
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  .sky__skyline {
    bottom: 0;
    left: 0;
    min-width: 900px;
    position: absolute;
    width: 100%;
  }

  .sky__airplane {
    left: 100%;
    position: absolute;
    top: 50%;
    width: 25%;
  }

  .sky__fighter {
    position: absolute;
    right: 100%;
    top: 10%;
    width: 15%;
  }

  .sky__man {
    left: 100%;
    position: absolute;
    top: 80%;
    width: 10%;
  }

  .sky__bike {
    position: absolute;
    right: 100%;
    top: 30%;
    width: 5%;
  }

  .sky__glider {
    position: absolute;
    right: 100%;
    top: 60%;
    width: 15%;
  }

  .sky__balloon {
    left: 100%;
    position: absolute;
    top: 50%;
    width: 15%;
  }
}
